<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_vhost_alias.c>
        RewriteBase /web
    </IfModule>

    #RewriteRule ^admin/(.*)$ admin/web/$1 [L,NC,R=302]

    # Imagenes y estilos
    #RewriteRule ^img/(.*)$ web/img/$1 [L]
    #RewriteRule ^js/(.*)$ web/js/$1 [L]
    #RewriteRule ^css/(.*)$ web/css/$1 [L]
    #RewriteRule ^fonts/(.*)$ web/fonts/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index_dev.php [QSA,L]
</IfModule>